---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import '../styles/index.css';
---
<html lang="en">
  <head>
    <title>
      Home
    </title>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mwa">
    <meta property="og:description" content="Funni portfolio with my info">
    <meta property="og:image" content="https://files.catbox.moe/gcn6az.png">
    <meta content="#240576" name="theme-color" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="https://files.catbox.moe/v33xwo.png">
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
    <link href="../styles/index.css" rel="stylesheet">
    <script src="../scripts/index.js"></script>
     </head>
    <style>
    #profile-picture { border-radius: 100%; } .fa, .fa-classic, .fa-sharp, .fas, .fa-solid, .far, .fa-regular, .fab, .fa-brands, .omg-icon { line-height: 1.75; }
        main { margin-bottom: 15em; }
        body { margin-bottom: 15em; }
        /* Works on Firefox */
        * {
          scrollbar-width: thin;
          scrollbar-color: #495057 #343a40;
        }
        /* Works on Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
          width: 7px;
        }
        *::-webkit-scrollbar-track {
          background: #343a40;
        }
        *::-webkit-scrollbar-thumb {
          background-color: #495057;
          border-radius: 20%;
          border: 3px solid #495057;
        }
    </style>
    <style>
    #omgdotlol {
        text-shadow: 0 1px 1px #111;
    }
    </style>
  
  <body>
    <main>
      <div id="profile-picture-container">
        <img src="https://gravatar.com/avatar/e6afddf3bb6621212a0d9ad60fbc0d2c?size=256&amp;cache=1715156878008" alt="My pfp" id="profile-picture" />
      </div>
      <h1 id="name">
        Mwa
      </h1>
      <div class="metadata" id="pronouns">
        <a href="https://mwa.is-a.dev/" target="_blank" >mwa.is-a.dev</a>
      </div>
      <div class="metadata" id="occupation">
        <i class="fa-solid fa-briefcase"></i> <a  href="occupation" >Tap or click here for a list</a>
      </div>
      <div class="metadata" id="location">
        <i class="fa-solid fa-location-dot"></i> Qatar
      </div>
      <div id="details"></div>
      <div id="bio">
        <p>
          Am 13(Almost 14),am a istp-t(I think),proud muslim and a syrian. pfp for may by me, (Traced) and am online from 8am to 12am. Want extra info? click <a rel="me"  href="school">Here</a>
        </p>
        <p>
          My timezone: Gmt +3<br>
          Birthday: June 12 2010 (Thats <span id="days">Loading...</span>)
        </p>
      </div>
      <div id="profile-items">
       <a href="https://discord.gg/z9ZkAY45bc" target="_blank"> <img style="max-width:100%" src="https://lanyard.cnrad.dev/api/834293703333642240?bg=#000" alt="Discord presense"></a>
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="omg-icon omg-pronounspage"></i></span><a rel="me" target="_blank" href="https://en.pronouns.page/@Totallynotmwa">Pronouns.page</a>
          </li>
          <li>
            <span class="fa-li"><i class="fa-solid fa-envelope"></i></span><a rel="me" href="mailto:totallynot@mwa.lol">Email</a> <small>Expect Slow response times</small>
          </li>
          <li>
            <span class="fa-li"><i class="fa-brands fa-youtube"></i></span><a rel="me" target="_blank" href="https://www.youtube.com/channel/UCJNEAuLLkrtlpjHEV5_emDQ">Youtube</a> <small>Sub pls?</small>
          </li>
          <li>
          </li>
          <li>
            <span class="fa-li"><i class="omg-icon omg-bluesky"></i></span><a rel="me" target="_blank" href="https://bsky.app/profile/mwa.lol">Bluesky</a>
          </li>
          <li>
            <span class="fa-li"><i class="fa-brands fa-github"></i></span><a rel="me" target="_blank" href="https://github.com/totallynotmwa">Github</a>
          </li>
          <li>
            <span class="fa-li"><i class="fa-solid fa-ellipsis"></i></span><a rel="me" href="socials">More Socials? click/tap here</a>
          </li>
        </ul>
      </div>
      <div id="footer">
        <p>Design from:</p>
        <span id="omgdotlol"><a target="_blank" href="https://home.omg.lol/"><span class="logotype">omg<span class="logotype" style="color: #f06595;">.</span>lol</span></a></span><br>
        <p>Font called <a  target="_blank" href="https://www.cdnfonts.com/satoshi.font">satoshi</a>  Background by danc3r and uses  code from <a target="_blank" href="https://claude.ai">ai</a> icons by <a target="_blank" ="https://fontawesome.com/">Font awesome</a> Images hosted on <a target="_blank" href="https://catbox.moe/">Catbox</a></p>
        <p>This website is <a target="_blank"  href="https://github.com/Totallynotmwa/My-portfolio-website">Open source</a></p>
        </div>
    </main>
  
</body>
</html>