body{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Satoshi',Arial, sans-serif;
    max-width: 100vw;
}
.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h2 {
    margin: 0;
    font-size: 1.2em;
}

.name-and-badges {
    display: flex;
    align-items: center;
    gap: 8px;
}

.badges {
    display: flex;
    gap: 4px;
}

.badge {
    min-height: 24px;
    padding: 4px 0;
    width: 20px;
    height: 20px;
}

.comment {
    min-height: 50px;
    font-size: 1em;
    margin: 12px 0;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
}