---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import '../styles/index.css';
---
<html lang="en">
  <head>
    <title>
      School
    </title>
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Mwa">
    <meta property="og:description" content="Extra info about me ">
    <meta property="og:image" content="https://files.catbox.moe/gcn6az.png">
    <meta content="#240576" name="theme-color" />
    <link rel="icon" href="https://files.catbox.moe/v33xwo.png">
    <meta name="viewport" content="width=device-width">
    <link href="../styles/index.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
     </head>
    <style>
    #profile-picture { border-radius: 100%; } .fa, .fa-classic, .fa-sharp, .fas, .fa-solid, .far, .fa-regular, .fab, .fa-brands, .omg-icon { line-height: 1.75; }
        main { margin-bottom: 15em; }
        body { margin-bottom: 15em; }
        /* Works on Firefox */
        * {
          scrollbar-width: thin;
          scrollbar-color: #495057 #343a40;
        }
        /* Works on Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
          width: 7px;
        }
        *::-webkit-scrollbar-track {
          background: #343a40;
        }
        *::-webkit-scrollbar-thumb {
          background-color: #495057;
          border-radius: 20%;
          border: 3px solid #495057;
        }
    </style>
    <style>
    #omgdotlol {
        text-shadow: 0 1px 1px #111;
    }
    </style>
  
  <body>
    <main>
      <div id="details">

        <h3>Click/tap <a href="/">here</a> to go back home</h3>
        <h2>Important:</h2>
         <a href="https://rentry.co/4deak" rel="me" target="_blank"> Dni list</a></p>
        <p>Byi: I May somtimes make edgy jokes ,May make grammer mistakes(Give me time to correct it/tell me),May repeat questions,May vent alot in trusted friends dms/trusted servers,I may get insecurities sometimes
          <p>
  
              Friends Rqs are Semi-closed I Dont Accept random friend rqs. I only accept random friend rqs to chat without a server and more
              <br>
              I Prefer tonetags to be used(Most of the time in joking,sarcasm etc)
          
              </p>
          <br>
          <h2>Some hard fax</h2>
          <h4>Sensitive stuff warning</h4>
          <ul>
            <li><a href="https://arab.org/click-to-help/palestine" target="_blank">Free Palestine </a></li>
            <li>Stop Uyghur forced labor</li>
          </ul>
          <br>
          <h2>Pc specs/setup and phone</h2>
        <h4>Got pc in 2022 and phone in 2024</h4>
       <h4>Pc specs/setup:</h4>
       <h4>(Planning to upgrade)</h4>
          <ul>
             <li>Asus prime h610m-e d4 </li>
              <li>Intel core i3 12100f</li>
              <li>Gtx 1650</li>
              <li>8Gb T-force ram</li>
              <li>256Gb Addlink storage</li>
              <li>Montech kinda broken case</li>
              <li>BenQ gw2270h monitor </li>
              <li>Generic dining chair</li>
              <li>Generic Ikea desk</li>
              <li>R Λ Z Ξ R Viper mini (Wired)</li>
              <li>Meetion "Gaming" keyboard</li>
              <li>Steelseries arctis 1 headphones (Wired)</li>
            </ul>
            <h4>Phone:</h4>
              <ul>
                 <li>Samasung Galaxy A55 Aka the "R Λ Z Ξ R" Phone <small>I love this phone </small> </li>
                </ul>
        </p>
        <h2>Some stuff i use:</h2>
        <h4>Also check out my <a target="_blank" href="https://cool-free-services-tools.mwa.lol/">Cool and Free services/tools</a></h4>
        <p>I use fedora with kde plasma 6.0.4 <img src="https://files.catbox.moe/jijx2j.gif" alt="Fedora pet pet" height="32px"> and <a href="https://atlasos.net" rel="me" target="_blank">Atlas os</a> btw </p>
        <br>
        My ide is  <a href="https://vscodium.com" target="_blank">Vscodium</a>
        </p>
        <h2>Siblings!</h2>
        <h4>I only have one so yeah</h4>
          <ul>
              <li>Kareemoffical <small>On top!</small></li> 
              <details>
                <summary>Links</summary>
                   <ul class="fa-ul">
                     <li>
                       <span class="fa-li"><i class="fa-solid fa-w"></i></span><a target="_blank" href="https://wanted.lol/kareemofficial">Wanted.lol</a>
                     </li>
                   </ul>
              </details>
            </ul>
          <h2>Some of my great friends</h2>
          <h4>From best to normal it would be to much to list all</h4>
            <ul>
                <li>Maoninja3 <small>On top!</small> </li> 
                <details>
                  <summary>Links</summary>
                     <ul class="fa-ul">
                       <li>
                         <span class="fa-li"><i class="fa-brands fa-youtube"></i></span><a target="_blank" href="https://www.youtube.com/@werspy">Youtube</a>
                       </li>
                       <li>
                         <span class="fa-li"><i class="fa-brands fa-discord"></i></span><a  target="_blank" href="https://discordid.netlify.app/?id=1034867288962244700">Discord</a> 
                     </ul>
                </details>
                <li>Rushy/Nebula</li>
                <details>
                  <summary>Links</summary>
                     <ul class="fa-ul">
                      <li>
                        <span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://rushy.me">Website</a>
                      </li>
                       <li>
                         <span class="fa-li"><i class="fa-brands fa-steam-symbol"></i></span><a target="_blank" href="https://steamcommunity.com/id/nebulamoe">Steam</a>
                       </li>
                       <li>
                         <span class="fa-li"><i class="fa-brands fa-discord"></i></span><a target="_blank" href="https://discordid.netlify.app/?id=812421218740994068">Discord</a> 
                     </ul>
                </details>
                <li>Munchycrunchy</li>
                <details>
                <summary>Links</summary>
                     <ul class="fa-ul">
                       <li>
                         <span class="fa-li"><img src="https://files.catbox.moe/62l9wy.svg" alt="Matrix.org logo" height="25"></span><a target="_blank" href="https://matrix.to/#/@munchycrunchy:matrix.org">Matrix</a>
                       </li>
                       <li>
                         <span class="fa-li"><i class="fa-brands fa-youtube"></i></span><a  target="_blank" href="https://www.youtube.com/@MunchyCrunchyPokemon">Youtube</a> 
                     </ul>
                </details>
                <li>Thunderrockgamer </li>
                <details>
                <summary>Links</summary>
                     <ul class="fa-ul">
                       <li>
                         <span class="fa-li"><i class="fa-solid fa-globe"></i></span><a target="_blank" href="https://thunder-incorporation.com/home">Website</a>
                       </li>
                       <li>
                         <span class="fa-li"><i class="fa-solid fa-gun"></i></span><a  target="_blank" href="https://guns.lol/thunderockgamer">Guns.lol</a> 
                     </ul>
                </details>
              </ul>
              <h2>Tributes</h2>
              <h4>This will get sad</h4>
                <ul>
                    <li>Dank ello<small> confirmed by: <a  target="_blank" href="https://im.indw.live/">Indr(His school friend)</a>, Dank ello's dad</small></li> 
                    <details>
                      <summary>Death cause/My reaction</summary>
                     <h4>You will be missed you were a good online friend to me</h4> 
                      <p>Died in 03/25/2022 at 10AM (UTC +8)
                        <br>
                      Cause: Stage 3 cancer
                      <br>
                      </p>
                    </details>
                  </ul>
            <h2>Info ig</h2>
            <h4>Hobbies</h4>

            <ul>
                <li>Gaming</li>
                <li>Making sites/Programming ig</li>
                <li>Drawing <small>Maybe</small></li>
                <li>Editing <small>Maybe</small></li>
                <li>Anything tech related</li>
              </ul>

              <h4>Intrests</h4>
        <ul>
            <li>Halflife series</li>
            <li>Portal series</li>
            <li>Touhou project</li>
            <li>The amazing digital circus</li>
            <li>History</li>
            <li>Geography</li>
            <li>Tech</li>
            <li>Cze<small>(Crazy errors)</small></li>
          </ul>
        </div>
        <div id="footer">
          <p>Design from:</p>
          <span id="omgdotlol"><a target="_blank" href="https://home.omg.lol/"><span class="logotype">omg<span class="logotype" style="color: #f06595;">.</span>lol</span></a></span><br>
          <p>Font called <a  target="_blank" href="https://www.cdnfonts.com/satoshi.font">satoshi</a>  Background by danc3r and uses  code from <a target="_blank" href="https://claude.ai">ai</a> icons by <a target="_blank" href="https://fontawesome.com/">Font awesome</a> Images hosted on <a target="_blank" href="https://catbox.moe/">Catbox</a></p>
          <p>This website is <a target="_blank"  href="https://github.com/Totallynotmwa/My-portfolio-website">Open source</a></p>
          </div>
    </main>
  
</body>
</html>